# Dependency directories
node_modules/

# Built output
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files
/.vscode
/.idea
/.DS_Store

# Testing files
.http

# Log files
/*.log

# misc
uplodas/